@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
body {
  margin: 0;
  background-color: #fff;
}

.header {
  text-align: center;
  background-color: #ebfbff;
  background-image: url(/images/bg-hero-mobile.svg);
  height: auto;
}

.header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 2em;
  padding-top: 2em;
}

.header .header-container img {
  width: 8em;
  height: 2em;
}

.header .header-container button {
  width: 27vw;
  background-color: white;
  margin-top: -.5em;
  border: none;
  border-radius: 2em;
  -webkit-box-shadow: 0.5px 0.5px 0.1px 0.1px rgba(59, 59, 59, 0.5);
          box-shadow: 0.5px 0.5px 0.1px 0.1px rgba(59, 59, 59, 0.5);
}

.header .header-container button a {
  color: #00252e;
  text-decoration: none;
  font-family: 'Open Sans','Times New Roman', Times, serif;
  font-weight: 700;
}

.header .header-container button a p {
  width: 21vw;
  font-size: 0.8em;
  margin: 0 auto;
}

.header .header-container button a:hover {
  color: rgba(59, 59, 59, 0.7);
}

.header .header-body-container {
  margin: 3em;
}

.header .header-body-container h1 {
  font-family: 'Poppins','Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 2em;
  text-transform: capitalize;
}

.header .header-body-container p {
  font-family: 'Open Sans','Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.2em;
}

.header .header-body-container a {
  text-decoration: none;
}

.header .header-body-container a button {
  width: 80%;
  background-color: #ff52bf;
  margin-top: 2em;
  padding: 0 1em;
  border: none;
  border-radius: 2em;
  -webkit-box-shadow: 0.8px 0.8px 0.1px 0.1px rgba(59, 59, 59, 0.1);
          box-shadow: 0.8px 0.8px 0.1px 0.1px rgba(59, 59, 59, 0.1);
  cursor: pointer;
}

.header .header-body-container a button p {
  color: #ebfbff;
  font-size: 1em;
  font-family: 'Poppins','Times New Roman', Times, serif;
  font-weight: 600;
  text-transform: capitalize;
}

.header .header-body-container a a, .header .header-body-container a button:hover {
  background-color: rgba(255, 82, 191, 0.7);
}

.header .header-body-container img {
  margin-top: 5em;
  display: inline-block;
  width: 100%;
}

.grow-together {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: auto;
  border: 1em thick #000;
  border-radius: 2em;
  -webkit-box-shadow: 1px 1px 5px 0.2px rgba(59, 59, 59, 0.2);
          box-shadow: 1px 1px 5px 0.2px rgba(59, 59, 59, 0.2);
  margin: 3em;
  text-align: center;
}

.grow-together .container {
  padding: 2em;
}

.grow-together .container img {
  margin: 2em auto;
  display: block;
  width: 80%;
}

.grow-together .container h1 {
  margin-top: 2em;
  text-transform: capitalize;
  font-family: 'Poppins','Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 1.5em;
}

.grow-together .container p {
  font-family: 'Open Sans','Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.1em;
  color: rgba(0, 37, 46, 0.6);
}

.flowing-conversations {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: auto;
  border: 1em thick #000;
  border-radius: 2em;
  -webkit-box-shadow: 1px 1px 5px 0.2px rgba(59, 59, 59, 0.2);
          box-shadow: 1px 1px 5px 0.2px rgba(59, 59, 59, 0.2);
  margin: 3em;
  text-align: center;
}

.flowing-conversations .container {
  padding: 2em;
}

.flowing-conversations .container img {
  margin: 2em auto;
  display: block;
  width: 80%;
}

.flowing-conversations .container h1 {
  margin-top: 2em;
  text-transform: capitalize;
  font-family: 'Poppins','Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 1.5em;
}

.flowing-conversations .container p {
  font-family: 'Open Sans','Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.1em;
  color: rgba(0, 37, 46, 0.6);
}

.your-users {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: auto;
  border: 1em thick #000;
  border-radius: 2em;
  -webkit-box-shadow: 1px 1px 5px 0.2px rgba(59, 59, 59, 0.2);
          box-shadow: 1px 1px 5px 0.2px rgba(59, 59, 59, 0.2);
  margin: 3em;
  text-align: center;
}

.your-users .container {
  padding: 2em;
}

.your-users .container img {
  margin: 2em auto;
  display: block;
  width: 80%;
}

.your-users .container h1 {
  margin-top: 2em;
  text-transform: capitalize;
  font-family: 'Poppins','Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 1.5em;
}

.your-users .container p {
  font-family: 'Open Sans','Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.1em;
  color: rgba(0, 37, 46, 0.6);
}

.footer-bubble {
  margin: 1em 2em 0;
  padding: 0.7em;
  background-color: #fff;
  border-radius: 1em;
  -webkit-box-shadow: 1px 1px 5px 0.2px rgba(59, 59, 59, 0.2);
          box-shadow: 1px 1px 5px 0.2px rgba(59, 59, 59, 0.2);
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
}

.footer-bubble .container h1 {
  text-transform: capitalize;
}

.footer-bubble .container a {
  text-decoration: none;
}

.footer-bubble .container a button {
  width: 60%;
  background-color: #ff52bf;
  margin-top: 1em;
  padding: 0 1em;
  border: none;
  border-radius: 2em;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(97, 96, 96, 0.3);
          box-shadow: 1px 1px 1px 1px rgba(97, 96, 96, 0.3);
  cursor: pointer;
}

.footer-bubble .container a button p {
  color: white;
  font-size: 1em;
  font-family: 'Poppins','Times New Roman', Times, serif;
  font-weight: 600;
  text-transform: capitalize;
}

.footer-bubble .container a a, .footer-bubble .container a button:hover {
  background-color: rgba(255, 82, 191, 0.7);
}

.footer {
  background-color: #00252e;
  margin-top: 10em;
  margin-bottom: -1em;
}

.footer .container {
  margin: 0 1em;
}

.footer .container img {
  padding-top: 20vh;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.footer .container .contact-details .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .contact-details .location img {
  margin-top: -3.3em;
  margin-right: 1em;
  width: 1.5em;
  height: 1.5em;
}

.footer .container .contact-details .location p {
  color: white;
  font-family: 'Open Sans','Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.3em;
  margin-top: 2.8em;
}

.footer .container .contact-details .number {
  margin-top: -2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .contact-details .number img {
  margin-top: -3.3em;
  margin-right: 1em;
  width: 1.1em;
  height: 1.1em;
}

.footer .container .contact-details .number p {
  color: white;
  font-family: 'Open Sans','Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.3em;
  margin-top: 2.8em;
}

.footer .container .contact-details .mail {
  margin-top: -2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .contact-details .mail img {
  margin-top: -3.3em;
  margin-right: 1em;
  width: 1.1em;
  height: 1.1em;
}

.footer .container .contact-details .mail p {
  color: white;
  font-family: 'Open Sans','Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.3em;
  margin-top: 2.8em;
}

.footer .container .links a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  margin: 1em 0;
  font-family: 'Open Sans','Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.1em;
}

.footer .container .links a:hover {
  text-decoration: underline;
}

.footer .container .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .container .social-media div {
  border: 1em thin #fff;
  border-radius: 50%;
  margin: .5em;
}

.footer .container .social-media div a img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 2em;
}

.footer .container .copyright p {
  text-align: center;
  color: white;
  padding-bottom: 1em;
  font-size: 12px;
  font-family: 'Open Sans','Times New Roman', Times, serif;
  font-weight: 400;
}

@media only screen and (min-width: 720px) {
  .header {
    background-image: url(/images/bg-hero-desktop.svg);
  }
  .header .header-container {
    margin: 0 5em;
    padding-top: 3em;
  }
  .header .header-container img {
    width: 10em;
    height: 2.5em;
  }
  .header .header-container button {
    width: 12vw;
  }
  .header .header-container button a p {
    width: auto;
    font-size: 1em;
    text-align: center;
  }
  .header .header-body-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1em 5em;
    padding-bottom: 3em;
  }
  .header .header-body-container div {
    text-align: justify;
  }
  .header .header-body-container div h1 {
    margin-top: 2em;
    font-size: 2.5em;
  }
  .header .header-body-container div a button {
    width: 50%;
  }
  .header .header-body-container img {
    width: 45%;
    margin-top: 2em;
    margin-left: 5em;
  }
  .grow-together {
    margin: 2em auto;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .grow-together .container {
    display: -ms-grid;
    display: grid;
    position: relative;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    padding: 3em 6em;
  }
  .grow-together .container img {
    position: absolute;
    right: 6em;
    top: -1em;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1/2;
    width: 50%;
  }
  .grow-together .container div h1 {
    text-align: justify;
    font-size: 2em;
  }
  .grow-together .container div p {
    text-align: justify;
    font-size: 1.3em;
  }
  .flowing-conversations {
    margin: 2em auto;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .flowing-conversations .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3em 6em;
  }
  .flowing-conversations .container img {
    width: 50%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    height: 12em;
  }
  .flowing-conversations .container div {
    margin-left: 8em;
  }
  .flowing-conversations .container div h1 {
    text-align: justify;
    font-size: 2em;
  }
  .flowing-conversations .container div p {
    text-align: justify;
    font-size: 1.3em;
  }
  .your-users {
    margin: 2em auto 10em;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .your-users .container {
    display: -ms-grid;
    display: grid;
    position: relative;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    padding: 3em 6em;
  }
  .your-users .container img {
    position: absolute;
    right: 6em;
    top: -1em;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1/2;
    width: 50%;
  }
  .your-users .container div h1 {
    text-align: justify;
    font-size: 2em;
  }
  .your-users .container div p {
    text-align: justify;
    font-size: 1.3em;
  }
  .footer-bubble {
    width: 30%;
    margin: -1em auto 5em;
    padding: 2em;
  }
  .footer-bubble .container a button {
    width: 70%;
  }
  .footer {
    margin-top: 16em;
  }
  .footer .container {
    margin: 0 5em;
    padding-bottom: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .container img {
    width: 9em;
    height: 3em;
    margin-top: 3em;
  }
  .footer .container .contact-details {
    margin-left: -9em;
    margin-top: 13em;
    width: 30vw;
  }
  .footer .container .contact-details .location img {
    margin-top: -3.6em;
  }
  .footer .container .contact-details .location p {
    font-size: 1em;
    margin-top: 4em;
  }
  .footer .container .contact-details .number {
    margin-top: -2.6em;
  }
  .footer .container .contact-details .number img {
    margin-top: -3.6em;
  }
  .footer .container .contact-details .number p {
    font-size: 1em;
    margin-top: 4em;
  }
  .footer .container .contact-details .mail {
    margin-top: -2.6em;
  }
  .footer .container .contact-details .mail img {
    margin-top: -3.6em;
  }
  .footer .container .contact-details .mail p {
    font-size: 1em;
    margin-top: 4em;
  }
  .footer .container .links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 4.5em;
            column-gap: 4.5em;
    margin-top: 15.5em;
    padding-left: 7em;
  }
  .footer .container .links a {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .footer .container .social-media {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    right: 15em;
    margin-top: 4.5em;
  }
  .footer .container .social-media div a img {
    width: 1.3em;
  }
  .footer .container .copyright {
    position: absolute;
    right: 5em;
    margin-top: 66vh;
  }
}
/*# sourceMappingURL=style.css.map */